[user]
	name = James Stonehill
	email = jamesstonehill@gmail.com
[core]
	autocrlf = false
	safecrlf = true
	excludesfile = ./.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
